{% extends 'template.html' %}

{% block title %} Compare {% endblock %}

{% block content%}
<div class="card">
  <div class="card-header card-header-primary">
    <h4 class="card-title">Compare</h4>
    <p class="card-category">Compare similiarity between two images</p>
  </div>
  
  <div class="card-body">
    <div class="row container">
      <div class="row col-md-6">
          <div class="col-md-12">
              <p>
                  Info: Isi kedua gambar untuk mulai membandingkan.
              </p>
          </div>
          <div class="col-md-6" id="img1_btn">
              <div style="position: absolute; left:16px;">
                <strong style="color: white">Image 1</strong>
              </div>
              <img id="img1_preview" src="/media/no_image.png" alt="" srcset="" height="100%" width="100%">
          </div>
          <div class="col-md-6" id="img2_btn">
              <div style="position: absolute; left:16px;">
                  <strong style="color: white">Image 2</strong>
                </div>
              <img id="img2_preview" src="/media/no_image.png" alt="" srcset="" height="100%" width="100%">
          </div>
      </div>
      <div class="row col-md-6">
          <div class="col-md-12">
              <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Variable</th>
                      <th scope="col">Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Image 1: </td>
                      <td id="label_1"> - </td>
                    </tr>

                    <tr>
                        <td>Image 2: </td>
                        <td id="label_2"> - </td>
                    </tr>
                    <tr>
                        <td>Kemiripan: </td>
                        <td id="similiarity"> - </td>
                    </tr>
                    <tr>
                        <td>Waktu Proses: </td>
                        <td id="respond_time"> - </td>
                    </tr>
                  </tbody>
                </table>
          </div>
      </div>
    </div>
  </div>

</div>

<form id="uploadFileForm" enctype="multipart/form-data">
  <input type="file" id="img1" accept="image/x-png,image/jpeg" name="image1" style="display:none;" />
  <input type="file" id="img2" accept="image/x-png,image/jpeg" name="image2" style="display:none;" />
</form>

<script type="text/javascript">
  $('#compare').addClass('active');

  $("#img1_btn").click(function () {
       $('#img1').click();
    });
  
    $("#img2_btn").click(function () {
       $('#img2').click();
    });

    function img1_readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
              $('#img1_preview').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function img2_readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
              $('#img2_preview').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#img1').on( 'change', function () {
            img1_readURL(this);
        });

      $('#img2').on( 'change', function () {
            img2_readURL(this);
            var myform = document.getElementById("uploadFileForm");
            var fd = new FormData(myform);

            $.ajax({
                url: "http://127.0.0.1:8000/api/compare",
                type: 'POST',
                data: fd,
                contentType: false,
                processData: false,
                beforeSend: function(){
                  console.log('before send');
                },
                success: function(response){
                  $('#uploadFileForm')[0].reset();
                  console.log(response)
                  if (response.response == 'ok') {
                    $('#label_1').html(response.label_1)
                    $('#label_2').html(response.label_2)
                    $('#similiarity').html(response.similiarity + '%')
                    $('#respond_time').html(response.respond_time + 's')
                  }
                },
                complete:function(data){
                  console.log('completed')
                }
            });
        });

</script>
{% endblock %}