
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #fff;
}

div.konten{
    background: #ffffff;
    width: 400px;
    margin: 150px auto 0;
    border-radius: 20px;
    min-height: 300px;
    overflow: hidden;
    border: 1px solid #ccc;
}

div.kepala{
    background: #eeeeee;
    padding: 25px 60px 25px 90px;
    height: 100px;
}

div.kepala h2.judul{
    color: #fff;
    font-weight: normal;
    line-height: 40px;
    display: inline-block;
}

div.artikel{
    padding:10px 22px 0;
    color: #808080;
}

div.artikel div.grup{
    margin: 16px 0;
}

div.artikel div.grup label,
div.artikel div.grup input{
    display: block;
}

div.artikel div.grup label{
    font-size: 13px;
    margin-bottom: 10px;
}

div.artikel div.grup input[type="text"],
div.artikel div.grup input[type="password"]{
    width: 100%;
    height: 30px;
    padding: 0 10px;
    border-radius: 10px;
    background: #eeeeee;
    border:none;
    color: #808080;
}

div.artikel div.grup input[type="submit"]{
    background: #3399ff;
    padding: 4px 16px;
    margin: 30px auto 0;
    border: 1px solid #3399ff;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
}

div.artikel div.grup input[type="submit"]:hover{
    background: #9a0000;
}
